<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chơi Game - Ai Là Triệu Phú</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="background-overlay">
        <img src="/images/logo.jpg" alt="Ai là triệu phú" class="main-img">
        <div class="overlay-content">

            <h1>CHÀO MỪNG BẠN ĐẾN VỚI TRÒ CHƠI</h1>

            <div class="button-group">
                <a href="/cauhoi" class="btn">Bắt đầu câu hỏi</a>
                <a href="/home" class="btn">Trang chủ</a>
            </div>

        </div>
    </div>
</div>
</body>
</html>
