<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ai Là Triệu Phú</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="background-overlay">
            <img src="/images/logo.jpg" alt="Ai là triệu phú" class="main-img">
            <div class="overlay-content">

                <div class="button-group">
                    <a href="/batdau" class="btn">Bắt Đầu</a>
                    <a href="/huongdan" class="btn">Hướng Dẫn</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>