<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kết thúc trò chơi</title>
    <link rel="stylesheet" href="/css/ingame.css">
</head>
<body>
<div class="game-container">
    <img src="/images/logoInGame.jpg" alt="Background" class="main-img1">

  <div class="question-box">
    <h1 style="color: red;">Bạn đã chọn sai đáp án!</h1>
    <p>Bạn ra về với <span th:text="${#numbers.formatInteger(money * 1000, 0, 'COMMA')}"></span> VNĐ</p>

    <form th:action="@{/home}" method="get" style="display: inline;">
        <button class="answer-btn">Về trang chủ</button>
    </form>

    <form th:action="@{/phienchoi/chitiet}" method="get" style="display: inline;">
        <input type="hidden" name="phienchoiId" th:value="${phienChoiId}" />
        <button class="answer-btn">Xem chi tiết</button>
    </form>
</div>

</div>
</body>
</html>
